In [13]:
import pandas as pd
import numpy as np

Load Data Set

In [ ]:
df = pd.read_csv("E:/TSEL_DSA/raw/googleplaystore.csv", delimiter=',')
df.head(10)

In [15]:
df.shape

(10841, 13)

1. Counting Rows & Columns

In [16]:
print("#column:",len(df.columns))
print("#row:",len(df))

#column: 13
#row: 10841

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

2. Number unique apps categories reflected in the dataset

In [18]:
app = df["App"]
app.drop_duplicates(inplace=True)
len(app)

9660

3. Number unique genres according to the dataset

In [19]:
app = df["Genres"]
app.drop_duplicates(inplace=True)
len(app)

120

In [20]:
df["Installs"] = df["Installs"].map(lambda x: x.rstrip('+'))

In [21]:
df["Installs"] = df["Installs"].str.replace("," , "")

In [26]:
df["Reviews"] = df["Reviews"].str.replace("M" , "0")

In [23]:
df["Installs"] = df["Installs"].str.replace("Free" , "0")

In [24]:
df["Installs"] = df["Installs"].astype(int)

In [28]:
df["Reviews"] = df["Reviews"].astype(float)

In [40]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [43]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.10,105090.00,19M,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.90,906070.00,14M,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.70,8070501000.00,8.7M,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.50,201050604040.00,25M,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.30,906070.00,2.8M,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

7. Match Apps and Category based on provided dataset

In [29]:
app2=df[["App","Category"]]

In [30]:
content=["DU Battery Saver - Battery Charger & Battery Life" , "WhatsApp Messenger","FIFA Soccer","File Commander - File Manager/Explorer","Pinterest","Flipboard: News For Our Time","Dropbox","Subway Surfers"]
app_cat=app2[app2.App.str.contains('|'.join(content))]
app_cat

                                                     App            Category
336                                   WhatsApp Messenger       COMMUNICATION
381                                   WhatsApp Messenger       COMMUNICATION
1654                                      Subway Surfers                GAME
1700                                      Subway Surfers                GAME
1750                                      Subway Surfers                GAME
1872                                      Subway Surfers                GAME
1917                                      Subway Surfers                GAME
2552                                           Pinterest              SOCIAL
2612                                           Pinterest              SOCIAL
3473                                             Dropbox        PRODUCTIVITY
3569                                             Dropbox        PRODUCTIVITY
3755                        Flipboard: News For Our Time  NEWS_AND_MAGAZINES
3767                        Flipboard: News For Our Time  NEWS_AND_MAGAZINES
3819                        Flipboard: News For Our Time  NEWS_AND_MAGAZINES
3896                                      Subway Surfers                GAME
3904                                  WhatsApp Messenger       COMMUNICATION
4048                                             Dropbox        PRODUCTIVITY
4088                                           Pinterest              SOCIAL
8445                                         FIFA Soccer              SPORTS
8896   DU Battery Saver - Battery Charger & Battery Life               TOOLS
10253             File Commander - File Manager/Explorer            BUSINESS

In [31]:
app1=df[["App","Installs"]]
app_group=app1.groupby("App").sum().sort_values("Installs", ascending=False)
app_group.head()

                    Installs
App
Subway Surfers  6.000000e+09
Google Photos   4.000000e+09
Instagram       4.000000e+09
Hangouts        4.000000e+09
Google News     4.000000e+09

8. Applications were installed by more than 1 billion users

In [32]:
content_app=["WhatsApp Messenger","Skype","Google Duo - High Quality Video Calls"]
app_cat=app1[app1.App.str.contains('|'.join(content_app))]
app_cat

                                        App    Installs
264          Skype for Business for Android    10000000
336                      WhatsApp Messenger  1000000000
364     Skype Lite - Free Video Call & Chat     5000000
371   Google Duo - High Quality Video Calls   500000000
381                      WhatsApp Messenger  1000000000
391           Skype - free IM & video calls  1000000000
468           Skype - free IM & video calls  1000000000
3904                     WhatsApp Messenger  1000000000
4039  Google Duo - High Quality Video Calls   500000000
4234          Skype - free IM & video calls  1000000000

In [33]:
app1[app1.App=="Facebook"]

           App    Installs
2544  Facebook  1000000000
3943  Facebook  1000000000

9. Top COMMUNICATION category apps from the highest number of reviews to the lowest

In [42]:
app_rev=df[["App","Category","Reviews"]]
app_rev1=app_rev[app_rev.Category=="COMMUNICATION"]
content_rev=["WhatsApp Messenger","Skype","Viber Messenger", "BBM", "Line"]
app_rev2=app_rev1[app_rev1.App.str.contains('|'.join(content_rev))]
app_rev2.groupby(["App","Category"]).sum().sort_values("Reviews", ascending=False)

                                                                   Reviews
App                                     Category
WhatsApp Messenger                      COMMUNICATION 18270302271209140.00
Viber Messenger                         COMMUNICATION  5051515223136210.00
Skype - free IM & video calls           COMMUNICATION  3001224120318270.00
BBM - Free Calls & Messages             COMMUNICATION  2041608051209060.00
Skype Lite - Free Video Call & Chat     COMMUNICATION        3030005030.00
2ndLine - Second Phone Number           COMMUNICATION        1050808000.00
BBMoji - Your personalized BBM Stickers COMMUNICATION          80802070.00

10. Top 3 game category apps based on number of installed and rating

In [41]:
app_rev=df[["App","Category","Installs", "Rating"]]
app_rev1=app_rev[app_rev.Category=="GAME"]
content_rev=["Temple Run 2","Subway Surfers","My Talking Tom", "Candy Crush Saga"]
app_rev2=app_rev1[app_rev1.App.str.contains('|'.join(content_rev))]
app_rev2.groupby(["App","Category"]).sum().sort_values(["Installs","Rating"], ascending=False)

                               Installs  Rating
App              Category
Subway Surfers   GAME     6000000000.00   27.00
Candy Crush Saga GAME     3000000000.00   26.40
Temple Run 2     GAME     3000000000.00   25.80
My Talking Tom   GAME     1000000000.00    9.00